[Unit]
Description=Deckview Web Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
LimitNOFILE=65535
WorkingDirectory=/home/ubuntu/Deckview
Environment="PATH=/home/ubuntu/Deckview/.venv/bin"
Environment="DECKVIEW_WEB_PRELOAD_CARDS=1"
ExecStart=/home/ubuntu/Deckview/.venv/bin/gunicorn --preload -w 2 -b 0.0.0.0:5000 --timeout 120 --access-logfile - --error-logfile - web_app:app
Restart=always

[Install]
WantedBy=multi-user.target
